<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>WebMvc.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>User</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>WebMvc.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>WebMvc.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>WebMvc.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>WebMvc.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>WebMvc.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>WebMvc.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>WebMvc.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProduitServlet</display-name>
    <servlet-name>ListProduitServlet</servlet-name>
    <servlet-class>WebMvc.ListProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProduitServlet</servlet-name>
    <url-pattern>/ListProduitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProdServlet</display-name>
    <servlet-name>AddProdServlet</servlet-name>
    <servlet-class>WebMvc.AddProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProdServlet</servlet-name>
    <url-pattern>/AddProdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProd</display-name>
    <servlet-name>DeleteProd</servlet-name>
    <servlet-class>WebMvc.DeleteProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProd</servlet-name>
    <url-pattern>/DeleteProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProd</display-name>
    <servlet-name>UpdateProd</servlet-name>
    <servlet-class>WebMvc.UpdateProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProd</servlet-name>
    <url-pattern>/UpdateProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProdServlet</display-name>
    <servlet-name>UpdateProdServlet</servlet-name>
    <servlet-class>WebMvc.UpdateProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProdServlet</servlet-name>
    <url-pattern>/UpdateProdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPanier</display-name>
    <servlet-name>AddPanier</servlet-name>
    <servlet-class>WebMvc.AddPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPanier</servlet-name>
    <url-pattern>/AddPanier</url-pattern>
  </servlet-mapping>
</web-app>